/* styles for app component */

.w-50{
    width:50%;
    margin-bottom: 50px;
}
.tc{
    text-align: center;
    margin:auto;
}

.mt-5{
    margin-top:50px;
    margin-bottom:50px;
}

.mt-3{
    margin: 21px;

}
